@import "_reset.scss";
@import "_commonStyle.scss";

html {
  touch-action: manipulation;

  body {
    font-family: "Microsoft JhengHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    touch-action: manipulation;
    overflow-x: hidden;
    font-size: 3em;
    background: #000;
    h1 {
      color: #fff;
    }
  }
}

$white:#fff;
$dark:#37424C;
$darkGray:#37424C;

$textSize: 1rem;

@mixin textColor($fontSize,$color){
    font-size : $fontSize;
    color : $color;
    @if $color == $dark{
        text-align: center;
    }
}

div{
    @include textColor($textSize,$white )
}

/**div{
    @include textColor($textSize,$dark )
}**/

$fontClass: "serif";
$fontClass2: "sans-serif";
$fontClass3: "cursive";
$value: 1+$fontClass,1+$fontClass2,1+$fontClass3;
$colorTheme: hsl(20%, 100%, 50%);
$marginTheme: 2rem + 4rem auto;

@mixin test($margin,$color){
  margin: $margin;
  color: $color;
}

@mixin test_2($margin,$color){
  &:after{
    content: "#{$value}";
    margin: $margin;
    color: $color;
  }
}

p {
  @include test_2($marginTheme,$colorTheme)
}

h1{
  font-size: 10rem;
}

b{
  @extend h1;
}

span{
  @extend h1;
  font-size:2rem 
}

.0629 p{
  display: block;
  float: left;
}

$holidayObj:['xmas','new_year','halloween'];

@each $holiday in $holidayObj{
  .#{$holiday}{
    background:url('../img/#{$holiday}.jpg');
  }
}